/* header styles */
header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.location-container {
    background-color: rgb(247, 247, 247);
    padding: 20px;
}

.list-group-item {
    color: gray;
}

.weather-content {
    padding: 20px;
}

.day-weather {
    padding-top: 20px;
}